nav{
    position: relative;
}
nav img{
    width: 150px;
    height: 100%;
    object-fit: cover;
}
nav ul{
    font-weight: 600;
    font-size: var(--font-size-xs);
}

.fixed-nav{
    position: fixed;
    background-color: var(--main);
    z-index: 100;
    top :0;
    left: 0;
    right: 0;
    animation: upto 0.3s linear forwards;
    z-index: 1500;
    
}
.second-nav{
    height: 80px;
}
.fixed-nav button,.fixed-nav .nav-icons div:nth-child(1),.fixed-nav .nav-icons div:nth-child(2){
    background-color: var(--light);

}
.fixed-nav img{
    width: 120px;
}
.fixed-nav  .name-menu{
    color: var(--light) !important;
}
.fixed-nav .menu-icon path, .fixed-nav .name-menu svg path{
    fill: var(--light);
}
.fixed-nav button svg path ,.fixed-nav .nav-icons div:nth-child(1) path,.fixed-nav .nav-icons div:nth-child(2) path{
    fill: var(--main);
}
@keyframes upto {
    from{
        transform: translateY(-10px);
    }to{
        transform: translateY(0px);
    }
}

.first-nav{
    font-size: var(--font-size-xxs);
    color: var(--light);
    background-color: var(--main);
    width: 100%;
}
.first-nav .icon-svg{
    background-color: rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-nav path{
    fill : var(--light)
}
.nav-icons,.menu-icon{
    display: none;
}
.root-big-menu{
    transition: 0.3s;
}
.root-big-menu:hover .big-menu{
        display: flex;
        
}
.fixed-nav .big-menu{
    top: 70px !important;
}
.big-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background: url("../images/girl-opacity.png");
    background-color: rgba(255, 255, 255, 0.729);
    background-repeat: no-repeat;
    background-position: 90%;
    min-height: 400px;
    z-index: 120;
    top: 120px;
    
}
.big-menu h5{
    font-weight: 600;
    font-size: var(--font-size-s);
    color: var(--main);
}
.big-menu li{
    font-weight: 500;
    font-size: var(--font-size-xs);
    text-transform: capitalize;
}
.big-menu li{
    transition: 0.3s;
}
.big-menu li a:hover{
    color: var(--grey-2);
}
/* Heading */
.heading h2{
    font-size: var(--font-size-3xl) !important;
    color: var(--main);
}
.heading p{
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--grey-2);
    width: 60%;
    line-height: 1.2rem;
}
/* Button */
button{
  background : var(--main);
  color: var(--light);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-s);
  transition: 0.4s;
  font-weight: 500;
  position: relative;
   overflow: hidden;
}
button::after{
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 70%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
  z-index: 2;
 
}
/* Hover state */


button:hover::after {
  left: 130%;
}
/* Footer */
footer{
    /* display: flex; */
}
footer p{
    font-size: var(--font-size-xs);
}
footer h3{
    font-size: var(--font-size-s);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--main);
}
footer li{
    font-size: var(--font-size-xxs);
}
footer hr{
    color: var(--main);
    opacity: 0.5;
}

.second-div a:hover{
    color: var(--grey-2);

}

/* Form  */
form input{
    border: unset;
    width: 100%;
    height: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
}
form .input-wrapper{
      position: relative;
}
form .input-wrapper::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--main);
    right: 0;
    left: 0;
}
form .input-wrapper:hover::before{
    /* animation: toRight 0.3s ; */
}
form input::placeholder{
    color: var(--grey-3);
    font-size: var(--font-size-xs);
    font-weight: 400;
}
form input:focus{
    outline: none;

}
.contact h3{
    color: var(--main);
    font-size: var(--font-size-xl);
}
form.contact {
    
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow-box);
}
@media (max-width: 1200px) {
    nav ul,button{
        font-weight: 600;
        font-size: var(--font-size-xs);
    }
    .icon-hero{
        width: 30px !important;
        height: 30px !important;
    }
    .icon-hero svg{
        height: 15px;
    }
    
}
@media (max-width: 1100px) {
    .nav-content{
        display: none;
    }
    nav button{
        display: none;
    }
    .open-ul{
        display: flex;
        position: fixed;
        align-items: start !important;
        z-index: 1500;
        top: 124px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.889);
        backdrop-filter: blur(20px);

    }
    .open-ul ul li a {
        display: block;
        width: 100%;
    }
    .fixed-nav .open-ul{
        top: 70px;
        height: fit-content;
    }
    nav img{
        width: 120px ;
    }
    .nav-icons{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .menu-icon{
        display: flex;
    }
    .nav-icons div{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--main);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-icons div svg{
        width: 15px !important;
    }
    .nav-icons div path{
        fill: var(--light)
    }
    /* Heading */
    .heading h2{
        font-size: var(--font-size-xxl) !important;
    }
    .heading p{
        font-size: var(--font-size-xs);
    }
    footer{
        flex-direction: column;
        gap:10px
    }
    footer .first-div{
        width: 100%;
    }
    footer .second-div{
        width: 100%;
    }
    footer .first-div p{
        width: 100%;
    }
}
@media (max-width : 900px) {
    .heading p{
        width: 80%;
    }
  
}
@media (max-width:700px) {
    .heading p{
        width: 100%;
    }
}
@media (max-width : 650px) {
    .first-nav-content {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 8px;
    }
    .first-nav .icon-svg{
        width: 20px;
        height: 20px;
    }
    .first-nav .icon-svg svg{
        height:  10px !important;
        width:  10px !important;
    }
    
}
@media (max-width:600px) {
    .heading p{
        font-size: var(--font-size-xxs);
        line-height: 0.9rem;
    }
    .heading h2{
        font-size: 1.2rem !important;
    }
    .heading p{
        font-size: var(--font-size-xxs);
        line-height: 0.8rem;
    }
}
@media (max-width:500px) {

    button{
        font-size: var(--font-size-xxs);
        padding: 6px 6px ;
    }
}
@media (max-width:500px) {

    .open-ul{
       top: 145px;
    }
}
@media (max-width:338px) {

    .open-ul{
       top: 140px;
    }
}
