.hero-service{
    
}
.hero-service img{
    border-radius: 20px;
}
.hero-service h1{
    color: var(--main);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-3xl);
}
.service h2{
     color: var(--main);
     font-size: var(--font-size-xl);
     margin-bottom: 10px;
}
.service p, .service ul{
    font-size: var(--font-size-xs);
}
.category-card{
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow-box);
    border-radius: 10px;
    cursor: pointer;
}
.category-card:hover {
    color: var(--main);
}
.category-card:hover .category-icon{
    transform: rotate(-120deg);
}
.category-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main);
     transform: rotate(-90deg);
     transition: 0.3s;
}
.category-icon svg path{
    fill: var(--main);
}
.category-card.active{
    color: var(--main);
}
.category-card.active .category-icon{
    color: var(--main);
    border: unset;
    background-color: var(--main);
}
.container-services{
    width: fit-content;
    border-left: 4px solid var(--main);
    border-radius: unset;

}
.read{
    font-size: var(--font-size-xxs);
    color: var(--main);
    transform: 0.3s;
}
.read:hover svg{
    transform: rotate(-90deg) translateY(5px);
}
.read path{
    fill: var(--main);
}
.read svg{
    transform: rotate(-90deg);
    transform: 0.3s;
}
.container-services h3{
    font-weight: 500 !important;
    font-size: var(--font-size-xs);
}
.category-card.active .category-icon svg path{
    fill: var(--light);
}

.ques{
    font-size: var(--font-size-l);
}
/* About Page */
.value{
    font-size: var(--font-size-xxl);
    font-weight: 600;
}
.metrics{
    border-radius: 10px;
    box-shadow: var(--shadow-box);
}
.metrics-content{
    /* border-left: 2px solid var(--main); */
}
.section-1-about{
    overflow: hidden;
    border-radius: 10px;
    /* border: 1px solid var(--main); */
    box-shadow: var(--shadow-box);
}
.section-1-content{
    width: 50%;
    position: relative;
    z-index: 1;
}
.section-1-content h3{
    color: var(--main);
    font-size: var(--font-size-l);
    font-weight: 600;
}
.about-choose h3{
    font-size: var(--font-size-xs);
    font-weight: 600 !important;
}
.about-choose p{
    font-size: var(--font-size-xxs);
}
.card-pink{
    background-color: var(--main);
    border: 1px solid var(--main);
     border-radius: 10px;
     color: var(--light);
}
.card-white{
     background-color: var(--light);
     border: 1px solid var(--main);
     border-radius: 10px;
}
@media (max-width : 1300px) {
    .hero-service h1{
        font-size: var(--font-size-xxl);
        width: 50%;
    }
    .service h2{
        font-size: var(--font-size-xl);
    }
    .metrics svg{
        width: 50px;
    }
    .value{
        font-size: var(--font-size-xl);
        font-weight: 600;
    }
    .section-1-img{
        opacity: 0.5;
        z-index: 0;
    }
    .about-choose svg{
        height: 60px;
        width: 60px;
    }
}
@media (max-width: 900px) {
    .metrics svg{
        width: 40px;
    }
    .value{
        font-size: var(--font-size-l);
        font-weight: 600;
    }
    .name-metrics{
        font-size: var(--font-size-xs);
    }
    .section-1-content{
        width: 80%;
        font-weight: 600;
    }
}
@media (max-width: 768px) {
    .sub-category{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .category-card {
        align-items: center;
        gap: 5px;
        font-size: var(--font-size-xxs);
    }
    .category-icon{
        transform: rotate(0);
        width: 15px;
        height: 15px;
    }
    .category-icon svg{
        width: 8px;
        height: 8px;
    }
    .metrics svg{
        width: 35px;
    }
    .value{
        font-size: var(--font-size-s);
        font-weight: 600;
    }
    .name-metrics{
        font-size: var(--font-size-xxs);
    }
    .section-1-img{
        opacity: 0.3;
    }
    .section-1-content{
        width: 100%;
        font-weight: 600;
        
    }
    .section-1-content p{
        font-size: var(--font-size-xxs);
    }
    .about-choose svg{
        height: 50px;
        width: 50px;
    }
    
}
@media (max-width : 600px) {
    .hero-service h1{
        font-size: var(--font-size-xl);
        
    }
    .service h2{
        font-size: var(--font-size-l);
    }
    .service p, .service ul{
        font-size: var(--font-size-xxs);
    }

}

@media (max-width:530px) {

    .value{
        font-size: var(--font-size-s);
        font-weight: 600;
    }
    .name-metrics{
        font-size: 8px;
    }
}
@media (max-width:350px) {
    .metrics svg{
        width: 25px;
    }
    .value{
        font-size: var(--font-size-xxs);
        font-weight: 600;
    }
    .name-metrics{
        font-size: 8px;
    }
}